@font-face {
    font-family: headerFont;
    src: url('../../AustieBostBlueberryMuffins.ttf')
}

a:hover {
    border-bottom: 3px solid white;
}
.header-flex {
    display: flex;
    min-height: 10vh;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;}

li {
    list-style-type: none;
    padding: 0px;
}

.header-item {
    flex-grow: 1;
    font-size: 20px;
}

.flex-logo {
    font-size: 40px;
    padding-right: 40%;
    font-family: headerFont;
    flex-grow: 1;
}

@media screen and (max-width:480px) {
    .header-flex {
        flex-direction: column;
    }

    .flex-logo {
        padding-right: 0px;
    }
   
}