@font-face {
    font-family: myFirstFont;
    src: url('../../../solari.ttf')
  }

  @font-face {
      font-family: mySecondFont;
      src: url('../../../shutterstock_1138588013.eps')
  }

h2 {
    font-family: 'myFirstFont';
    font-size:90px;
    width: 85%;
    margin: 0px auto;
    padding: 0px;
    background-color: #eee;
}


