
.fa fa-star checked {
    color: white;
}

.yellow {
    float: right;
    margin: 2%;
    font-size: 30px;
    color: orange;    
  }

  .grey {
    float: right;
    margin: 2%;
    font-size: 30px;
    color: grey;
  }
